RSS_FEED_URL= "https://tweakers.net/feeds/mixed.xml"
RSS_FEED_SUMMARY_LENGTH= "Medium"

OPENAI_API_KEY= "<open ai api key>"
RECIPIENT_EMAIL= "<recipient email address>"
SENDER_EMAIL= "<sender email address>"

### SMTP Server
SMTP_SERVER='<smtp server address>'
SMTP_PORT=465
SMTP_USER='<smtp login username>'
SMTP_PASSWORD='<smtp login password>'

